body {
    margin: 0px
    
}

#container {
    display: grid;
    background-color: black;
    height: 100vh;
    grid-template-rows: 2fr 2fr 12fr 3fr;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas:
    "hd hd hd hd hd"    
    "nv nv nv nv nv"
    "mb mb mb mb mb"
    "ft ft ft ft ft"
}

#midbox {
    background-color: blue;
    grid-area: mb;
    display: flex;
    margin: 5px;
}

header {
    grid-area: hd;
    background: red;
}

aside {
    background: lightblue;
}

main {
    background: white;
    margin: 5px;
}

footer {
    grid-area: ft;
    background: ghostwhite;
}

nav {
    grid-area: nv;
    background: white;
    display: grid;
    grid-template-columns: repeat(5, 20%);
}

section {
    background: lightblue;
}

.project_img {
    width: 33%;
}

.div_project {
    display: inline-block;
    text-align: center;
    width: 33%;
}
.center {
    text-align: center;
}

#red {
    background: red;
}

#green {
    background-color: green;
}

div.blogg > div#midbox {
    background-color: white;
    display: flex;
    justify-content: space-between;
}