<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/stylesheet.css">
    <script src="js/js.js"></script>
    <title>Blogg</title>
</head>
<body>
    <div id="container" class="blogg">
        <header>
            <h1>Blogg</h1>
            <ul>
                {% if g.user %}
                    <li><span>{{ g.user['username'] }}</span>
                    <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
                    <li><a href="{{ url_for('blog.create') }}">Skriv</a>
                {% else %}
                    <li><a href="{{ url_for('auth.register') }}">Register</a>
                    <li><a href="{{ url_for('auth.login') }}">Log In</a>
                {% endif %}
              </ul>
        </header>
        <nav>
            <form action="http://127.0.0.1:5000">
                <input type="submit" value="Hem"/>
            </form>
            <form action="http://127.0.0.1:5000/blogg">
                <input type="submit" value="Blogg"/>
            </form>
            <form action="http://127.0.0.1:5000/mina_hemsidor">
                <input type="submit" value="Mina hemsidor"/>
            </form>
            <form action="http://127.0.0.1:5000/mina_projekt">
                <input type="submit" value="Mina projekt"/>
            </form>
            <form action="http://127.0.0.1:5000/om_mig">
                <input type="submit" value="Om mig"/>
            </form>
        </nav>
        <div id="midbox">
            <section class="side">section</section>
            <main id="midmid">
                <header>
                    {% block header %}{% endblock %}
                </header>
                {% for message in get_flashed_messages() %}
                <div class="flash">{{ message }}</div>
                {% endfor %}
                {% block content %}{% endblock %}
            </main>
            <aside class="side">asidess</aside>
        </div>
        <footer>Footer</footer>
    </div>
</body>
</html>