<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/stylesheet.css">
    <script src="js/js.js"></script>
    <title>Blogg</title>
</head>
<body>
    <div id="container" class="blogg">
        <header><h1>Blogg</h1></header>
        <nav>
            <button class="nav_button" onclick="document.location='index.html'">Hem</button>
            <button class="nav_button" onclick="document.location='mina_projekt.html'">Mina projekt</button>
            <button class="nav_button" onclick="document.location='mina_hemsidor.html'">Mina hemsidor</button>
            <button class="nav_button" onclick="document.location='blogg.html'">Blogg</button>
            <button class="nav_button" onclick="document.location='om_mig.html'">Om mig</button>
        </nav>
        <div id="midbox">
            <section class="side">section</section>
            <main id="midmid">
            </main>
            <aside class="side">asidess</aside>
        </div>
        <footer>Footer</footer>
    </div>
</body>
</html>