<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/stylesheet.css">
    <title>Mina projekt</title>
</head>
<body>
    <div id="container" id="projekt">
        <header><h1>Mina projekt</h1></header>
        <nav>
            <form action="http://127.0.0.1:5000">
                <input type="submit" value="Hem"/>
            </form>
            <form action="http://127.0.0.1:5000/blogg">
                <input type="submit" value="Blogg"/>
            </form>
            <form action="http://127.0.0.1:5000/mina_hemsidor">
                <input type="submit" value="Mina hemsidor"/>
            </form>
            <form action="http://127.0.0.1:5000/mina_projekt">
                <input type="submit" value="Mina projekt"/>
            </form>
            <form action="http://127.0.0.1:5000/om_mig">
                <input type="submit" value="Om mig"/>
            </form>
        </nav>
        <div id="midbox">
            <section>Section</section>
            <main>
                <div class="div_project">
                    <a href="index.html"><img class="project_img" src="static/tolered_sjovalla.jpg" alt="sjovalla"></a>
                    <p>tolered</p>
                </div>
                <div class="div_project">
                    <a href="index.html"><img class="project_img" src="static/tolered_sjovalla.jpg" alt="tolered"></a>
                    <p>sjövalla</p>
                </div>
                <div class="div_project">
                    <a href="index.html"><img class="project_img" src="static/tolered_sjovalla.jpg" alt="noob"></a>
                    <p>något</p>
                </div>
                <div class="div_project">
                    <a href="index.html"><img class="project_img" src="static/tolered_sjovalla.jpg" alt="noob"></a>
                    <p>något</p>
                </div>
                <div class="div_project">
                    <a href="index.html"><img class="project_img" src="static/tolered_sjovalla.jpg" alt="noob"></a>
                    <p>något</p>
                </div>  
                <div class="div_project">
                    <a href="index.html"><img class="project_img" src="static/tolered_sjovalla.jpg" alt="noob"></a>
                    <p>något</p>
                </div>
            </main>
            <aside>asidess</aside>
        </div>
        <!-- Ha en bild och titel per projekt så som det ser ut på arduino project hub-->
        <footer>Footer</footer>
    </div>
</body>
</html>