<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/stylesheet.css">
    <title>Mina hemsidor</title>
</head>
<body>
    <div id="container" id="hemsidor">
        <header><h1>Mina hemsidor</h1></header>
        <nav>
            <button class="nav_button" onclick="document.location='index.html'">Hem</button>
            <button class="nav_button" onclick="document.location='mina_projekt.html'">Mina projekt</button>
            <button class="nav_button" onclick="document.location='mina_hemsidor.html'">Mina hemsidor</button>
            <button class="nav_button" onclick="document.location='blogg.html'">Blogg</button>
            <button class="nav_button" onclick="document.location='om_mig.html'">Om mig</button>
        </nav>
        <div id="midbox">
            <section class="side">section</section>
            <main>
                <div class="div_project">
                    <a href="index.html"><img class="project_img" src="img/tolered_sjovalla.jpg" alt="sjovalla"></a>
                    <p>tolered</p>
                </div>
                <div class="div_project">
                    <a href="index.html"><img class="project_img" src="img/tolered_sjovalla.jpg" alt="tolered"></a>
                    <p>sjövalla</p>
                </div>
                <div class="div_project">
                    <a href="index.html"><img class="project_img" src="img/tolered_sjovalla.jpg" alt="noob"></a>
                    <p>något</p>
                </div>
                <div class="div_project">
                    <a href="index.html"><img class="project_img" src="img/tolered_sjovalla.jpg" alt="noob"></a>
                    <p>något</p>
                </div>
                <div class="div_project">
                    <a href="index.html"><img class="project_img" src="img/tolered_sjovalla.jpg" alt="noob"></a>
                    <p>något</p>
                </div>  
                <div class="div_project">
                    <a href="index.html"><img class="project_img" src="img/tolered_sjovalla.jpg" alt="noob"></a>
                    <p>något</p>
                </div>
            </main>
            <aside class="side">asidess</aside>
        </div>
        <footer>Footer</footer>
    </div>
</body>
</html>